
/*#folderbtn{
    -fx-background-image: url("../image/folderi.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
#playbtn{
    -fx-background-image: url("../image/playi.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
#stopbtn{
    -fx-background-image: url("../image/stopi.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
#fastbtn{
    -fx-background-image: url("../image/fasti.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}

#slowbtn{
    -fx-background-image: url("../image/slowi.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
#vslowbtn{
    -fx-background-image: url("../image/vslowi.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
#exitbtn{
    -fx-background-image: url("../image/exiti.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
#folderbtn{
    -fx-background-image: url("../image/folderi.png");
    -fx-backgroung-size: 20 20;
    -fx-backgroung-repeat: no-repeat;
    -fx-backgroung-position: center;
    
}
*/